<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Alpha</span>
    <span class="example-spacer"></span>
    <mat-icon *ngIf="!user" svgIcon="google" (click)="signInWithGoogle()" class="example-icon pointer" aria-hidden="false"></mat-icon>
    <div class="user">
      <img src="https://demos.creative-tim.com/black-dashboard-angular/assets/img/anime3.png">
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<hello name="{{ user.name }}"></hello>
<p>
  Turn off your data and see some magic happen :)
</p>

<div class="container">
	<div class="online" *ngIf="networkStatus$ | async; else offline">
		Online 😁
	</div>
	<ng-template #offline>
		<div class="offline">
			Offline 😎
		</div>
	</ng-template>
</div>

<div class="jumbotron bg-transparent text-center">
  <button >sign with google</button>
  <button mat-mini-fab color="primary" (click)="signInWithGoogle()">
    <mat-icon svgIcon="google"></mat-icon>
  </button>
  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>